@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 300;
}
@media (max-width: 767px) {
  body {
    font-size: calc(13px + 11.9 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  body {
    font-size: calc(13px + 7 * (100vw / 1730));
  }
}
body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: url(../img/background-rows1.png) 0 0 no-repeat, url(../img/background-rows2.png) 0 bottom no-repeat, url(../img/background-blur1.png) -100px -1400px/cover no-repeat, url(../img/background-blur4.png) 0 bottom/cover no-repeat, #202128;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1730px) {
  .container {
    max-width: 1520px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 870px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 670px;
  }
}

.header {
  width: 100%;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1730px) {
  .header__container {
    max-width: 1520px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  width: calc(45px + 30 * ((100vw - 320px) / 1410));
  height: calc(33.6px + 22.4 * ((100vw - 320px) / 1410));
  transition: all 0.3s ease-in-out 0s;
}
.header__logo:hover {
  transform: rotate(360deg) scale(1.05);
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__btns {
  display: flex;
  gap: 15px;
}
.header__burger {
  display: none;
}
.header__login {
  color: #fff;
  line-height: 1.28;
  z-index: 5;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
.header__login:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 65px;
    z-index: 2;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__burger span, .header__burger:before, .header__burger:after {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    background: #fff;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    transform: scale(0);
  }
  .header__burger._active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .header__burger._active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

.menu__list li {
  margin-right: 40px;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
.menu__list li:hover {
  transform: scale(1.1);
}
.menu__list li:last-child {
  margin-right: 0px;
}
.menu__link {
  padding: 5px 0;
  color: #fff;
  line-height: 1.28;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease 0.1s;
  transform-origin: left bottom;
}
.menu__list li:hover .menu__link::after {
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease-in 0.2s;
    padding: 80px 30px 30px 30px;
    overflow: auto;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    background: #202128;
    z-index: 2;
  }
  .menu._active {
    top: 0;
  }
  .menu__body {
    text-align: center;
  }
  .menu__list li {
    margin-right: 0;
    margin-top: 40px;
  }
  .menu__link {
    font-size: 170%;
    font-weight: 600;
  }
}

.btn {
  display: inline-block;
  padding-left: calc(15px + 95 * ((100vw - 320px) / 1410));
  padding-right: calc(15px + 95 * ((100vw - 320px) / 1410));
  padding-top: calc(12px + 18 * ((100vw - 320px) / 1410));
  padding-bottom: calc(12px + 18 * ((100vw - 320px) / 1410));
  color: #fff;
  border: 2px solid #fff;
  border-radius: 60px;
  line-height: 1.4;
  box-shadow: 0 0 55px rgba(255, 255, 255, 0.2), inset 0 0 75px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .btn {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: calc(14px + 17 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .btn {
    font-size: calc(14px + 10 * (100vw / 1730));
  }
}
.btn:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4), inset 0 0 75px rgba(255, 255, 255, 0.1);
  transform: scaleX(0.95);
}
.btn:active {
  transform: scale(0.95);
}

.row-1 {
  display: flex;
}
.row-1__body {
  flex: 0 1 auto;
}
.row-1__img {
  align-items: center;
  flex: 0 1 50%;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.row-1__img img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.row-1__img img:first-child, .row-1__img img:last-child {
  opacity: 0.2;
  z-index: -1;
  transform: translateZ(-70px);
  top: 15px;
}
.row-1__img img:first-child {
  left: -30px;
}
.row-1__img img:last-child {
  left: 40px;
}
@media (max-width: 992px) {
  .row-1 {
    flex-direction: column;
  }
  .row-1__body {
    text-align: center;
  }
  .row-1__img {
    display: none;
  }
}

.what {
  align-items: center;
  position: relative;
  padding: 100px 0 170px;
}
.what__title {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 41px;
}
@media (max-width: 767px) {
  .what__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .what__title {
    font-size: calc(24px + 24 * (100vw / 1730));
  }
}
.what__text {
  line-height: 1.45;
  max-width: 482px;
  margin-bottom: 119px;
}
.what__gift {
  max-width: 400px;
  text-align: center;
  line-height: 1.685;
  font-weight: 600;
  position: relative;
}
.what__gift span {
  text-transform: uppercase;
  display: block;
}
.what__gift::after {
  content: "";
  position: absolute;
  background: url(../img/what-arrow.png) 0 0 no-repeat;
  width: 200px;
  height: 155px;
  left: 70%;
  top: -5%;
  -webkit-animation: arrow 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite alternate;
          animation: arrow 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite alternate;
}
@-webkit-keyframes arrow {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: translate(10px, 15px) rotate(15deg) scale(calc(0.5 + 0.5 * (100vw - 320px) / 850));
  }
}
@keyframes arrow {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: translate(10px, 15px) rotate(15deg) scale(calc(0.5 + 0.5 * (100vw - 320px) / 850));
  }
}
@media (max-width: 992px) {
  .what__title {
    margin-bottom: 30px;
  }
  .what__text {
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .what__gift {
    max-width: 400px;
    margin: 0 auto;
  }
  .what__gift::after {
    content: "";
    -webkit-animation: arrow 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite alternate;
            animation: arrow 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite alternate;
  }
  @-webkit-keyframes arrow {
    0% {
      transform: translate(10px, 15px) scale(0.5) rotate(85deg);
    }
    100% {
      transform: translate(10px, 15px) rotate(90deg) scale(0.52);
    }
  }
  @keyframes arrow {
    0% {
      transform: translate(10px, 15px) scale(0.5) rotate(85deg);
    }
    100% {
      transform: translate(10px, 15px) rotate(90deg) scale(0.52);
    }
  }
}
.what__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 87px;
}
.what__row-2 {
  display: flex;
  margin: 0 -15px 70px;
}
.what__stat {
  flex-basis: 33.333%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 15px;
}
.what__stat:nth-child(2), .what__stat:nth-child(3) {
  flex-direction: column-reverse;
}
.what__stat p {
  line-height: 1.685;
}
.what__stat p:first-child {
  font-weight: 600;
}
@media (max-width: 767px) {
  .what__stat p:first-child {
    font-size: calc(17.6px + 24.48 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .what__stat p:first-child {
    font-size: calc(17.6px + 14.4 * (100vw / 1730));
  }
}
.what__pricy p {
  display: inline-block;
}
.what__pricy p:first-child {
  width: 450px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .what__pricy p:first-child {
    font-size: calc(17.6px + 24.48 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .what__pricy p:first-child {
    font-size: calc(17.6px + 14.4 * (100vw / 1730));
  }
}
.what__pricy p:nth-child(2) {
  font-weight: 600;
  padding-left: 15px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .what__pricy p:nth-child(2) {
    font-size: calc(28.8px + 59.84 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .what__pricy p:nth-child(2) {
    font-size: calc(28.8px + 35.2 * (100vw / 1730));
  }
}
.what__pricy p:nth-child(3) {
  margin-top: 90px;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media (max-width: 767px) {
  .what__pricy p:nth-child(3) {
    font-size: calc(21.6px + 44.88 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .what__pricy p:nth-child(3) {
    font-size: calc(21.6px + 26.4 * (100vw / 1730));
  }
}
@media (max-width: 992px) {
  .what {
    padding: 60px 0 115px;
  }
  .what__btn {
    margin-top: 45px;
    margin-bottom: 40px;
  }
  .what__row-2 {
    max-width: 600px;
    margin: 0 auto 50px;
    flex-direction: column;
    align-content: center;
  }
  .what__stat {
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .what__stat:last-child {
    margin-bottom: 0px;
  }
  .what__pricy p {
    display: block;
    text-align: center;
  }
  .what__pricy p:first-child {
    width: 100%;
  }
  .what__pricy p:nth-child(3) {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .what {
    padding: 70px 0 115px;
  }
  .what__btn {
    margin-top: 65px;
    margin-bottom: 60px;
  }
  .what__row-2 {
    max-width: 100%;
    margin: 0 auto 50px;
  }
  .what__pricy p {
    display: block;
    text-align: center;
  }
  .what__pricy p:first-child {
    width: 100%;
  }
  .what__pricy p:nth-child(3) {
    margin-top: 60px;
  }
}

.sales {
  min-height: 60px;
  width: 150vw;
  background: #272727;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 767px) {
  .sales {
    min-height: 70px;
  }
}
.sales__pct {
  font-size: 1.5em;
}
.sales__text {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  text-transform: lowercase;
}
.sales__time {
  margin-left: 15px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .sales__time {
    font-size: calc(20px + 25.5 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .sales__time {
    font-size: calc(20px + 15 * (100vw / 1730));
  }
}
.sales__price {
  font-weight: 500;
}
@media (max-width: 767px) {
  .sales__price {
    font-size: calc(20px + 25.5 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .sales__price {
    font-size: calc(20px + 15 * (100vw / 1730));
  }
}
.sales__price span {
  font-weight: 400;
  margin-left: 15px;
  position: relative;
}
@media (max-width: 767px) {
  .sales__price span {
    font-size: calc(16px + 15.3 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .sales__price span {
    font-size: calc(16px + 9 * (100vw / 1730));
  }
}
.sales__price span:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.85);
  bottom: 50%;
  left: 0;
  transform: rotate(-20deg) translate(0, -50%);
}

.sales-white {
  position: absolute;
  background: #fff;
  color: #000;
  transform: rotate(-6.3deg) translate(0, -100px);
  z-index: 1;
}
@media (min-width: 767px) {
  .sales-white {
    transform: rotate(-4.5deg) translate(0px, -100px);
  }
}
@media (min-width: 1170px) {
  .sales-white {
    transform: rotate(-2.5deg) translate(0px, -100px);
  }
}

.sales-white .sales__price span:before {
  background: rgba(0, 0, 0, 0.85);
}

.skills {
  position: relative;
  padding: 60px 0px 40px;
}
.skills__row {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.skills__row:last-child {
  margin-bottom: 0px;
}
.skills__row:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .skills__row {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .skills__row {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .skills__row:last-child {
    margin-bottom: 0px;
  }
  .skills__row:nth-child(even) {
    flex-direction: column;
  }
}
.skills__img {
  flex: 0 1 500px;
  min-width: 300px;
}
@media (max-width: 767px) {
  .skills__img {
    flex: 0 1 320px;
  }
}
.skills__img img {
  max-width: 100%;
  display: block;
  height: auto;
}
.skills__body {
  flex: 1 1 auto;
  padding: 0 15px 0 25px;
}
@media (max-width: 992px) {
  .skills__body {
    display: flex;
    flex-direction: column;
  }
}
.skills__title {
  line-height: 1.2;
  max-width: 535px;
  margin-bottom: 35px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .skills__title {
    font-size: calc(16px + 40.8 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .skills__title {
    font-size: calc(16px + 24 * (100vw / 1730));
  }
}
.skills__text {
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 62px;
}
@media (max-width: 767px) {
  .skills__text {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .skills__text {
    font-size: calc(18px + 14 * (100vw / 1730));
  }
}
@media (max-width: 767px) {
  .skills__text {
    margin-bottom: 35px;
  }
}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 500px));
  gap: 40px 15px;
  grid-auto-rows: auto;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .skills__grid {
    font-size: calc(16px + 27.2 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .skills__grid {
    font-size: calc(16px + 16 * (100vw / 1730));
  }
}
@media (max-width: 767px) {
  .skills__grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
  }
}
.skills__btn {
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .skills__btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.bonus {
  padding: 100px 0 60px;
}
@media (max-width: 992px) {
  .bonus {
    padding: 60px 0 40px;
  }
}
@media (max-width: 767px) {
  .bonus {
    padding: 30px 0 40px;
  }
}
.bonus__title {
  line-height: 1.4;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .bonus__title {
    font-size: calc(18px + 37.4 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .bonus__title {
    font-size: calc(18px + 22 * (100vw / 1730));
  }
}
.bonus__row {
  display: flex;
}
.bonus__column {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
}
.bonus__img {
  position: relative;
  margin-bottom: 20px;
  flex: 0 1 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bonus__img img {
  max-width: 100%;
  display: block;
}
.bonus__text {
  flex: 1 1 auto;
  text-align: center;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .bonus__text {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .bonus__text {
    font-size: calc(14px + 6 * (100vw / 1730));
  }
}

.features {
  position: relative;
  padding: 10px 0 80px;
}
.features__title {
  line-height: 1.4;
  font-weight: 600;
  width: 489px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .features__title {
    font-size: calc(18px + 37.4 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__title {
    font-size: calc(18px + 22 * (100vw / 1730));
  }
}
.features__row {
  display: flex;
  margin: 0 -10px;
}
.features__column {
  flex: 0 0 50%;
  padding: 0 10px;
}
.features__subtitle {
  line-height: 1.4;
  margin-bottom: 15px;
  padding-right: 35px;
}
@media (max-width: 767px) {
  .features__subtitle {
    font-size: calc(16px + 27.2 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__subtitle {
    font-size: calc(16px + 16 * (100vw / 1730));
  }
}
.features__text {
  line-height: 1.3;
}
@media (max-width: 767px) {
  .features__text {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__text {
    font-size: calc(14px + 6 * (100vw / 1730));
  }
}
.features__text p {
  margin-bottom: 35px;
  padding-right: 80px;
}
.features__text p:last-child {
  margin-bottom: 0;
}
.features__sales {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  gap: 15px 0px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .features__sales .sales__pct {
    font-size: calc(20px + 20.4 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__sales .sales__pct {
    font-size: calc(20px + 12 * (100vw / 1730));
  }
}
.features__sales .sales__text {
  justify-content: center;
  grid-column: 1/3;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .features__sales .sales__text {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__sales .sales__text {
    font-size: calc(14px + 6 * (100vw / 1730));
  }
}
.features__sales .sales__text p {
  margin-bottom: 0;
  padding: 0;
}
.features__sales .sales__price {
  grid-row: 1/2;
  grid-column: 2/3;
}
@media (max-width: 767px) {
  .features__sales .sales__price {
    font-size: calc(20px + 20.4 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__sales .sales__price {
    font-size: calc(20px + 12 * (100vw / 1730));
  }
}
.features__sales .sales__price span {
  font-weight: 400;
  margin-left: 35px;
  position: relative;
}
@media (max-width: 767px) {
  .features__sales .sales__price span {
    font-size: calc(16px + 15.3 * ((100vw - 320px) / 1730));
  }
}
@media (min-width: 767px) {
  .features__sales .sales__price span {
    font-size: calc(16px + 9 * (100vw / 1730));
  }
}
.features__sales .sales__price span:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.85);
  bottom: 50%;
  left: 0;
  transform: rotate(-20deg) translate(0, -50%);
}
.features__form {
  text-align: center;
}
.features__email {
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
  padding: 0 25px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 60px;
  width: 100%;
  height: 74px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px;
  transition: all 0.3s ease 0s;
}
.features__email::-moz-placeholder {
  text-align: center;
  color: #9C9C9C;
}
.features__email:-ms-input-placeholder {
  text-align: center;
  color: #9C9C9C;
}
.features__email::placeholder {
  text-align: center;
  color: #9C9C9C;
}
.features__email:focus {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}
.features__access {
  display: block;
  margin: 0 auto;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 60px;
  width: 100%;
  height: 74px;
  font-size: 20px;
  line-height: 74px;
  transition: all 0.3s ease 0s;
}
.features__access:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}
.features__access:active {
  transform: scale(0.95);
}