@use 'sass:math';
// todo *Mixins*  (@include %mixin_name())  @import "mixins";
@import "_mixins";

// todo *Functions*
@import "_functions";

// todo *Variables*
$minWidth: 320;
$maxWidth: 1730;
$maxWidthContainer: 1170;

$fontFamily: 'Montserrat', sans-serif; 
// font-family: 'Roboto', sans-serif;
$fontSize: 20; // maket font

$color-1: #fff;
$color-2: #333;


// todo *Nullstyle, Common parameters*
@import "_nullstyle";
body {
	font-family: $fontFamily;
	// font-size: rem(20); 
	@include adaptive-font($fontSize, calc($fontSize * .7));
	color: $color-1;
	font-weight: 300;
	background: #202128;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: $maxWidthContainer + 30px;
	margin: 0 auto;
	padding: 0 15px;
}


//!--------------------------------------------------- //

.header {
	width: 100%;
	&__container {
		max-width: $maxWidthContainer + 30px;
		margin: 0 auto;
		min-height: 80px;
		padding: 0 15px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		background: url(../img/icon.svg);
		position: relative;
		z-index: 5;
		width: 75px;
		height: 56px;
	}
	&__burger {
		display: none;
	}
	&__login {
		color: $color-1;
		line-height: 1.28;
	}
	@media (max-width:767px) {
		&__burger {
			display: block;
			display: block;
			position: relative;
			z-index: 5;
			width: 30px;
			height: 18px;
			cursor: pointer;
		}
		&__burger {
			
		}
	}
}

.menu {
	&__body {
}
	&__list li {
		margin-right: 40px;
}
	&__list li:last-child {
		margin-right: 0px;
	}

	&__link {
		color: $color-1;
		line-height: 1.28;
	}

	@media (min-width:767px) {
	&__list {
		display: flex;
		align-items: center;
	}
	}	

	@media (max-width:767px) {
		&__list {
			display: none;
		}
	}
}





.btn {
	@include adaptive-value("padding-left", 110, 20, 0);
	@include adaptive-value("padding-right", 110, 20, 0);
	@include adaptive-value("padding-top", 30, 15, 0);
	@include adaptive-value("padding-bottom", 30, 15, 0);
	color: $color-1;
	border: 2px solid #fff;
	border-radius: 60px;
	@include adaptive-font(24,16);
	line-height: 1.4;
	box-shadow: 0 0 55px rgba($color: #fff, $alpha: .2), inset 0 0 75px rgba($color: #fff, $alpha: .1);
	
}

.what {
	position: relative;
	padding: 100px 0 170px;
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: url("../img/what-img.png") 0 0 no-repeat;
	// 	transform: translate()
	// }
	&__title {
		@include adaptive-font(48,24);
		font-weight: 600;
		line-height: 1.4;
		margin-bottom: 41px;
	}
	&__text {
		line-height: 1.45;
		max-width: 482px;
		margin-bottom: 119px;
	}
	&__gift {
		max-width: 400px;
		text-align: center;
		line-height: 1.685;
		font-weight: 600;
	}
	&__gift span {
		text-transform: uppercase;
		display: block;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 100px;
		margin-bottom: 87px;
	}
	&__row-2 {
		display: flex;
		margin: 0 -15px 70px;
	}
	&__stat {
		flex-basis: 33.333%;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		padding: 0 15px;
	}
	&__stat:nth-child(2), &__stat:nth-child(3) {
		flex-direction: column-reverse;
	}
	&__stat p {
		line-height: 1.685;
	}
	&__stat p:first-child {
		@include adaptive-font(32,calc(32*0.55));	
		font-weight: 600;	
	}
	&__pricy p {
		display: inline-block;
	}
	&__pricy p:first-child {
		width: 450px;
		@include adaptive-font(32,calc(32*0.55));	
		line-height: 1.2;
	}
	&__pricy p:nth-child(2) {
		@include adaptive-font(64,calc(64*0.45));	
		font-weight: 600;
		padding-left: 15px;
		line-height: 1.4;
	}
	&__pricy p:nth-child(3) {
		margin-top: 90px;
		display: block;
		text-align: center;
		@include adaptive-font(48,calc(48*0.45));	
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}

	@media (max-width: 992px) {
		padding: 70px 0 115px;
		&__btn {
			margin-top: 45px;
			margin-bottom: 40px;
		}
		&__row-2 {
			max-width: 600px;
			margin: 0 auto 50px;
			flex-direction: column;
			align-content: center;
		}
		&__stat {
			align-items: center;
			justify-content: center;
			margin-bottom: 15px;
		}
		&__stat:last-child {
			margin-bottom: 0px;
		}
		&__pricy p {
			display: block;
			text-align: center;
		}
		&__pricy p:first-child {
			width: 100%;
		}
		&__pricy p:nth-child(3) {
			margin-top: 60px;
		}
	}
	@media (max-width: 767px) {
		padding: 70px 0 115px;
		&__btn {
			margin-top: 65px;
			margin-bottom: 60px;
		}
		&__row-2 {
			max-width: 100%;
			margin: 0 auto 50px;
		}
		&__pricy p {
			display: block;
			text-align: center;
		}
		&__pricy p:first-child {
			width: 100%;
		}
		&__pricy p:nth-child(3) {
			margin-top: 60px;
		}
	}
}

